Q1. What are the three measures of central tendency?

Answer(Q1):

The three measures of central tendency are Mewan,Median and Mode.

Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

Answer(Q2):

The mean is the average where the sum of all the numbers is divided by the total number of numbers, 

Mean = Sum of observation/Number of observation


The median is the middle value in the list of given numbers numerically ordered from smallest to biggest and 

Median = {(n+1)/2}th term when n is odd & Median = [(n/2)th term + {(n/2)+1}th]/2 when n is even


mode is the value of the number which occurs most often in the list.

Mode = Value repeated the maximum number of times.

The purpose of the central tendency is to provide an exact representation of the entire collected data. It is often defined as the single value that is representative of the data

Example as follows:

In [1]:
import numpy as np
from scipy import stats

In [5]:
data = [2,4,6,8,10,12,14,16,18,20,12,14,6,12,20,12]

mean = np.mean(data)
print("mean = ",mean)

median = np.median(data)
print("median = ",median)

mode = stats.mode(data)
print("mode = ",mode)

mean =  11.625
median =  12.0
mode =  ModeResult(mode=array([12]), count=array([4]))

/tmp/ipykernel_71/1519451517.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(data)

Q3. Measure the three measures of central tendency for the given height data:

 [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
 
 Answer(Q3):

In [6]:
import numpy as np
from scipy import stats 

height_data=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

mean = np.mean(height_data)
print("mean = ",mean)

median = np.median(height_data)
print("median = ",median)

mode = stats.mode(height_data)
print("mode = ",mode)

mean =  177.01875
median =  177.0
mode =  ModeResult(mode=array([177.]), count=array([3]))

/tmp/ipykernel_71/789924670.py:12: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(height_data)

Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

Answer(Q4):

In [7]:
import numpy as np

given_data = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

std=np.std(given_data)
print("standard deviation for the given data is ",std)

standard deviation for the given data is  1.7885814036548633

Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example.

Answer(Q5):

Range:

The range is the easiest dispersion of data or measure of variability. The range can measure by subtracting the lowest value from the massive Number. The wide range indicates high variability, and the small range specifies low variability in the distribution. To calculate a range, prepare all the values in ascending order, then subtract the lowest value from the highest value.

Range = Highest_value  – Lowest_value

Standard deviation:

Standard deviation is a squared root of the variance to get original values. Low standard deviation indicates data points close to mean.

In [4]:
import numpy as np
from scipy import stats 

data = [178,177,176,177,178.2,178,175,179,180,175]

range_value = np.max(data) - np.min(data)
range_value

5.0

Interquartile Range (IQR):

IQR is a range (the boundary between the first and second quartile) and Q3 (the boundary between the third and fourth quartile).IQR is preferred over a range as, like a range, IQR does not influence by outliers. IQR is used to measure variability by splitting a data set into four equal quartiles.

Dispersion is the quantification of deviation of each point from the mean value.
Variance is average of squared distances of each point from the mean
Variance is a fairly good measure of dispersion.

Standard deviation is just the square root of variance
Variance gives a good idea on dispersion, but it is of the order of squares.
Standard deviation is the variance measure that is in the same units as the original data

In [6]:
import numpy as np
from scipy import stats 

data = [ 178,177,176,177,178.2,178,175,179,180,175 ]

std = np.std(data)
std

1.5625619987699682

Q6. What is a Venn diagram?

Answer(Q6):

Venn diagram:

A Venn diagram is an illustration that uses circles to show the relationships among things or finite groups of things. Circles that overlap have a commonality while circles that do not overlap do not share those traits. Venn diagrams help to visually represent the similarities and differences between two concepts.

Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i) 	A intersection B

(ii)	A ⋃ B

Answer(Q7):

In [9]:


A = {2,3,4,5,6,7}
B = {0,2,6,8,10}

# (i) Answer 
print("A intersection B:",A.intersection(B))
# (ii) Answer 
print("A U B:", A.union(B))

A intersection B: {2, 6}
A U B: {0, 2, 3, 4, 5, 6, 7, 8, 10}

Q8. What do you understand about skewness in data?

Answer(Q8):

Skewness is a measurement of the distortion of symmetrical distribution or asymmetry in a data set. Skewness is demonstrated on a bell curve when data points are not distributed symmetrically to the left and right sides of the median on a bell curve.

Positive Skewness(Right Skewed):

A distribution is positively skewed when its tail is more pronounced on the right side than it is on the left. Since the distribution is positive, the assumption is that its value is positive.

Mean >= Median >= Mode


Negative Skewness(Left Skewed):

Negative skewness, on the other hand, occurs when the tail is more pronounced on the left rather than the right side. Contrary to the positive skew, most of the values are found on the right side of the mean when it comes to negative skewness. 

Mean <= Median <= Mode

Q9. If a data is right skewed then what will be the position of median with respect to mean?

Answer(Q9):

Right Skewed:

A distribution is positively skewed when its tail is more pronounced on the right side than it is on the left. Since the distribution is positive, the assumption is that its value is positive.

Mean >= Median >= Mode

Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

Answer(Q10):

Both covariance and correlation measure the relationship and the dependency between two variables. 

Difference:

1.Covariance indicates the direction of the linear relationship between variables. 

Correlation measures both the strength and direction of the linear relationship between two variables. It has no specific range.



2.Covariance values are not standardized.

Correlation values are standardized.It ranges from -1 to +1.
The more the values towards +1, it's positively correlated, The more the values towards -1, it's negatively correlated 

Examples as follows.

In [19]:
import seaborn as sns
df = sns.load_dataset("penguins")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [17]:
# covarience
import numpy as np

In [20]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,29.807054,-2.534234,50.375765,2605.591912
bill_depth_mm,-2.534234,3.899808,-16.212950,-747.370093
flipper_length_mm,50.375765,-16.212950,197.731792,9824.416062
body_mass_g,2605.591912,-747.370093,9824.416062,643131.077327

In [21]:
df.corr("spearman")

/tmp/ipykernel_77/2200192389.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("spearman")

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.221749,0.672772,0.583800
bill_depth_mm,-0.221749,1.000000,-0.523267,-0.432372
flipper_length_mm,0.672772,-0.523267,1.000000,0.839974
body_mass_g,0.583800,-0.432372,0.839974,1.000000

In [22]:
df.corr("pearson")

/tmp/ipykernel_77/833945131.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("pearson")

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

Answer(Q11):

sample mean = sum of samples/(no. of samples)

In [24]:
sample_data = [ 10,30,15,25,50,20]

sample_mean = (10+30+15+25+50+20)/(6) 
print("sample_mean = ",sample_mean)

sample_mean =  25.0

Q12. For a normal distribution data what is the relationship between its measure of central tendency?

Answer(Q12):

For a standard normal distribution, the mean, mode, and median are all equal to zero. The mean is the average of the data, the mode is the value that appears most frequently, and the median is the middle value when the data is ordered. Since the standard normal distribution is symmetric about the mean, all three measures of central tendency are the same.

Q13. How is covariance different from correlation?

Answer(Q13):

Difference:

1.Covariance indicates the direction of the linear relationship between variables. 

Correlation measures both the strength and direction of the linear relationship between two variables. It has no specific range.


2.Covariance values are not standardized.

Correlation values are standardized.It ranges from -1 to +1.
The more the values towards +1, it's positively correlated, The more the values towards -1, it's negatively correlated

In [25]:
import seaborn as sns
df = sns.load_dataset("penguins")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [26]:
# covarience
import numpy as np
df.cov()

/tmp/ipykernel_77/1846739254.py:3: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,29.807054,-2.534234,50.375765,2605.591912
bill_depth_mm,-2.534234,3.899808,-16.212950,-747.370093
flipper_length_mm,50.375765,-16.212950,197.731792,9824.416062
body_mass_g,2605.591912,-747.370093,9824.416062,643131.077327

In [27]:
df.corr("pearson")

/tmp/ipykernel_77/833945131.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("pearson")

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

Answer(Q14):

Outliers affect measures of central tendency and dispersion.This can be seen by the following example.

In [8]:
import numpy as np
from scipy import stats 

data_with_outlier = [10,20,15,25,40,30,15,300]
# value 300 is the outlier

# measures of central tendency
print("measures of central tendency")
print("="*30)
mean = np.mean(data_with_outlier)
print("Mean = ",mean)

median = np.median(data_with_outlier)
print("Median = ",median)


mode = stats.mode(data_with_outlier)
print("mode = ",mode)

# measures of dispersion
print("\nmeasures of dispersion")
print("="*30)
variance = np.var(data_with_outlier)
print("varience = ",variance)

std = np.std(data_with_outlier)
print("std = ",std)

measures of central tendency
==============================
Mean =  56.875
Median =  22.5
mode =  ModeResult(mode=array([15]), count=array([2]))

measures of dispersion
==============================
varience =  8524.609375
std =  92.32881118589148

/tmp/ipykernel_77/2639038190.py:17: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(data_with_outlier)